doctype html
html
  head
    title HI-5 Redemption Centers
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/material.css", rel="stylesheet")
    link(href="css/ripples.css", rel="stylesheet")
    link(href="css/material-wfont.css", rel="stylesheet")
    link(href="css/app.css", rel="stylesheet")

  body
    div(class="navbar navbar-inverse navbar-fixed-top", role="navigation")
        .container
            .navbar-header
                span.navbar-brand Redeem HI5

    .container.main
        #search

        #results
          .welcome
              h1 HI-5 Redemption Centers
              p Please use the search field or touch the button to find nearby redemption centers.

    include partials/scripts
